<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

         <a class="navbar-brand" href="#">Group Up</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/users">
                     Home <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/groups">Explore</a>
               </li>
               <li class="nav-item border-right">
                  <a class="nav-link" href="/groups/new">Start a new Group</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <%= current_user.firstName.capitalize %> <%= current_user.lastName.capitalize %> <i class="fas fa-user-circle"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#">Profile</a>
                     <a class="dropdown-item" href="#">Settings</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                  </div>
               </li>
            </ul>
         </div>

      </nav>
      <header class="text-center py-5 mb-4" style="background-color: #08455d;">
         <div class="container">
            <h1 class="font-weight-light text-white">Find your next event</h1>
         </div>
      </header>

      <div class="container-fluid">
         <div class="row">
            <div class="col-1"></div>
            <div class="col-md-10">
               <h1>Your Groups:</h1>
            </div>
            <div class="col-1"></div>
         </div>
         <br>
         <div class="row">
            <div class="col-1"></div>
            <div class="col-md-10">
               <div class="row">
                  <div class="col-md-4 text-center">
                     <div class="card">
                        <img class="card-img-top" src="http://placehold.it/700x400" alt="Card image">
                        <div class="card-img-overlay">
                           <h4 class="card-title">John Doe</h4>
                           <p class="card-text">Some example text.</p>
                           <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-1"></div>
         </div>
      </div>
      <br><br>
      <footer class="py-5 bg-dark">
         <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; GroupUp 2019</p>
         </div>
      </footer>
   </body>
</html>
