<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom">

         <a class="navbar-brand" href="#">Group Up</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Home
                     <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/users/new">Register/Login</a>
               </li>
            </ul>
         </div>

      </nav>

      <div class="container">
         <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
               <div class="card card-signin my-5">
                  <div class="card-body">
                     <h5 class="card-title text-center">Sign In</h5>

                     <form class="form-signin" action="/sessions/login" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                        <div class="form-label-group">
                           <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                           <label for="email">Email</label>
                        </div>

                        <div class="form-label-group">
                           <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                           <label for="password">Password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>




      <!-- <h1>Users New</h1>
      <a href="/">Home</a>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h2>Sign Up</h2>
               <form action="/users" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                  <div class="form-group">
                     <label for="firstName">First Name:</label>
                     <input type="text" name="user[firstName]" id="firstName" class="form-control" />
                  </div>
                  <div class="form-group">
                     <label for="lastName">Last Name:</label>
                     <input type="text" name="user[lastName]" id="lastName" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="email">Email:</label>
                     <input type="email" name="user[email]" id="email" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="password">Password:</label>
                     <input type="password" name="user[password]" id="password" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="password_confirmation">Password Confirmation</label>
                     <input type="password" name="user[password_confirmation]" id="password_confirmation" class="form-control">
                  </div>

                  <div class="form-group">
                     <label for="city">City:</label>
                     <input type="text" name="location[city]" id="city" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="city">State:</label>
                     <input type="text" name="location[state]" id="state" class="form-control" />
                  </div>

                  <button type="submit" class="btn btn-primary">Sign Up</button>
               </form>
            </div>
            <div class="col-md-6">
               <h2>Login</h2>
               <form action="/sessions/login" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                  <div class="form-group">
                     <label for="email">Email:</label>
                     <input type="email" name="email" id="email" class="form-control" />
                  </div>

                  <div class="form-group">
                     <label for="password">Password:</label>
                     <input type="password" name="password" id="password" class="form-control" />
                  </div>

                  <button type="submit" class="btn btn-primary">Login</button>
               </form>
            </div>
         </div>
      </div> -->

      <footer class="py-4 bg-dark">
         <div class="container">
            <div class="row pb-4">
               <div class="col-md-3 mx-auto">
                  <h3>Your Account</h3>
                  <p><a href="" class="text-white">Sign up</a></p>
                  <p><a href="" class="text-white">Log in</a></p>
                  <p><a href="" class="text-white">Guest</a></p>
               </div>
               <div class="col-md-3 mx-auto">
                  <h3>Discover</h3>
                  <p><a href="" class="text-white">Groups</a></p>
                  <p><a href="" class="text-white">Calender</a></p>
                  <p><a href="" class="text-white">Cities</a></p>
               </div>
               <div class="col-md-3 mx-auto">
                  <h3 class="pb-2">Follow us</h3>
                  <a href="#"><i class="fab fa-facebook-square text-white fa-2x px-2"></i></a>
                  <a href="#"><i class="fab fa-twitter text-white fa-2x px-2"></i></a>
                  <a href="#"><i class="fab fa-youtube text-white fa-2x px-2"></i></a>
                  <a href="#"><i class="fab fa-instagram text-white fa-2x px-2"></i></a>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 border-top pt-4">
                  <p class="m-0 text-center text-white">Copyright &copy; GroupUp 2019</p>
               </div>
            </div>
         </div>
      </footer>
      
   </body>
</html>
