<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <%= render "shared/navbar_signed_out" %>

      <div class="container">
         <div class="row">
            <div class="col-md-5 mx-auto">
               <div class="card card-signin my-5">
                  <div class="card-body">
                     <h5 class="card-title text-center">Sign in as Guest</h5>

                     <form class="form-signin" action="/sessions/login" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                        <div class="form-label-group">
                           <input type="email" name="email" class="form-control" value="guest@groupup.com" />
                           <label for="email">Email</label>
                        </div>

                        <div class="form-label-group">
                           <input type="password" name="password" id="password" class="form-control" placeholder="******" value="123456" />
                           <label for="password">Password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
                     </form>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <%= render "shared/footer" %>

   </body>
</html>
