<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom p-1">

   <a class="navbar-brand animated fadeInLeft slow" href="/">
      <img src="/assets/logo2.png" alt="" style="width:55%;">
   </a>


   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse animated fadeInRight slow" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item active border-right">
            <a class="nav-link" href="/">Start a new group</a>
         </li>
         <li class="nav-item active animated bounce" style="animation-delay: 2s; animation-iteration-count: 5;">
            <a data-toggle="tooltip" data-placement="bottom" title="Use the guest account to demo GroupUp" class="nav-link" href="/users/new_guest">Guest</a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" href="/users/login">Log in</a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" href="/users/new">Sign up</a>
         </li>
      </ul>
   </div>

</nav>

<script>
   $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
   });
</script>
