<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

         <a class="navbar-brand" href="#">Group Up</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Home
                     <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/users/new">Register/Login</a>
               </li>
            </ul>
         </div>

      </nav>

      <div id="indexImage" class="container-fluid">
         <div class="centered-text">
            <h1>The real world is calling</h1>
            <p>Join a local group to meet people, try something new, or do more of what you love.</p>
         </div>
      </div>

      <br>

      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/outdoors-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Outdoor & Adventure</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/tech-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Tech</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/family-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Family</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/fitness-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Sports & Fitness</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/photography-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Photography</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/food-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Food & Drink</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/culture-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Language & Culture</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/movements-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Movements</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/pets-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Pets</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/games-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Sci-Fi & Games</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/social-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Social</a>
                     </h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
               <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="assets/career-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h4 class="card-title">
                        <a href="#">Career & Business</a>
                     </h4>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <footer class="py-5 bg-dark">
         <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
         </div>
      </footer>

   </body>
</html>
