<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body class="animated fadeIn">

      <%= render "shared/navbar_signed_out" %>

      <div id="indexImage" class="container-fluid mb-4">
         <div class="centered-text">
            <h1 style="font-size: 3.5rem; animation-delay: 1s;" class="animated bounceIn">The real world is calling</h1>
            <p style=" animation-delay: 1s;" class="animated bounceIn">Join a local group to meet people, try something new, or do more of what you love.</p>
            <a style=" animation-delay: 1s;" href="#" class="btn btn-danger animated bounceIn">Join Group Up</a>
         </div>
      </div>

      <div class="container mb-2 py-4">
         <div class="row">
            <div class="col-md-12">
               <h1>Categories</h1>
               <p>Browse groups by topics you're interested in</p>
            </div>
         </div>
         <div class="row py-2">
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/outdoors-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Outdoor & Adventure</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/tech-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Tech</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/family-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Family</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/fitness-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Sports & Fitness</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/photography-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Photography</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/food-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Food & Drink</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/culture-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Language & Culture</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/movements-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Movements</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/pets-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Pets</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/games-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Sci-Fi & Games</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/social-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Social</a>
                     </h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3 mb-2">
               <div class="card border-0">
                  <a href="#"><img class="card-img-top rounded-lg" src="assets/career-img.jpg" alt=""></a>
                  <div class="card-body">
                     <h5 class="card-title">
                        <a href="#" class="text-body">Career & Business</a>
                     </h5>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <%= render "shared/footer" %>

   </body>
</html>
